@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
    //Layout = "~Views/Shared/_Layout.cshtml";
}
<style>
    html{
        background: #f9fafc !important;
    }
</style>
<div style="text-align:center;margin-top: 10%;">
    <img src="~/Content/404.PNG"  style="width:35%;"/>
    <h2 class="text-danger"><a href="/Account/Login" style="text-decoration:solid;font-size:14px;font-family: sans-serif;">Return To Home</a></h2>
</div>

